
		<nav style="width: 100%; 
				background: #000; 
				height: 45px;
				margin-bottom:20px;">
			
			<a style="font-weight: 400;
				line-height: 1.5em;
				font-family: 'Roboto', sans-serif;
				font-size: 17px;
				color: #dfe0ef;
				margin: 25px;" >Accueil</a> <span style="	font-size: 30px;
				color: #fff;">|</span>
				<a style="font-weight: 400;
				line-height: 1.5em;
				font-family: 'Roboto', sans-serif;
				font-size: 17px;
				color: #dfe0ef;
				margin: 25px;" >Actualité</a> <span style="	font-size: 30px;
				color: #fff;">|</span>
				<a style="font-weight: 400;
				line-height: 1.5em;
				font-family: 'Roboto', sans-serif;
				font-size: 17px;
				color: #dfe0ef;
				margin: 25px;">Direct</a> 
				<span style="	font-size: 30px;
				color: #fff;"></span>
				<a style="font-weight: 400;
				line-height: 1.5em;
				font-family: 'Roboto', sans-serif;
				font-size: 17px;
				color: #dfe0ef;
				margin: 25px;" >Emission</a> 
				<span style="	font-size: 30px;
				color: #fff;"></span>
				<a style="font-weight: 400;
				line-height: 1.5em;
				font-family: 'Roboto', sans-serif;
				font-size: 17px;
				color: #dfe0ef;
				margin: 25px;" >A propos</a> <span style="	font-size: 30px;
				color: #fff;">|</span>
			<!--a class="element_menu">Réseaux sociaux</a-->
			<img style=" margin-top: 13px;
					float: right;
					margin-right: 15px;
					height:25px;
					width:25px;"src="facebook.png" >	
			<img style=" margin-top: 13px;
					float: right;
					margin-right: 15px;
					height:25px;
					width:25px;"src="youtube.png" >
			<img style=" margin-top: 13px;
					float: right;
					margin-right: 15px;
					height:25px;
					width:25px;"src="twitter.png" >					
			<img style=" margin-top: 13px;
					float: right;
					margin-right: 15px;
					height:25px;
					width:25px;"src="facebook.png" >src="google.png" >
			<input style=" margin-top: 13px;
					float: right;
					margin-right: 15px;
					height: 25px;
					width: 25px ;"src="facebook.png"  placeholder="recherche" type="text" id="search" name="search">
		</nav>
		<div style="	width:100%;				
				text-align:center;">			
				
			<img src="logo.png" >
		</div>
		
		<div style=" display: inline-block;
				float: left;
				width:70%;
				margin-top: 30px;">
			<div>
				<div style="	background: #eee;
				font-size: 25px;
				width: 80%;
				padding-left: 30px;
				padding-top: 10px;
				padding-bottom: 10px;
				marrgin-bottom: 30px;">Actualité</div>
				<div style="">
					<label>Italie: La Roma reste dans le coup avec Ranieri</label>
				</div>
				<div style="color: gray;
				margin-left:15px;">
					11 mars 2019
				</div>
				<div style="text-align: justify;
				width:80%;
				margin:15px;
				text-align:center;
				
				border-bottom: 1px solid #eee;">
					<p>Pour le premier match de Claudio Ranieri sur le banc après son arrivée jeudi en remplacement d'Eusebio Di Francesco, l'AS Rome a obtenu lundi une très importante victoire 2-1 contre Empoli et reste dans la course à la Ligue des Champions.</p>
					<img src="italie.jpg" width="700px">
				</div>
			</div>
			
			<div>
				<div style="margin-top: 20px;
				margin-bottom:10px;
				font-weight: 1000;
				font-size: 20px;
				text-align: center;
				width:80%;">
				<label>Nadal fonce au 3e tour à Indian Wells</label>
			</div>
			<div style="color: gray;
				margin-left:15px;">
				11 mars 2019
			</div>
			<div style="text-align: justify;
				width:80%;
				margin:15px;
				text-align:center;
				
				border-bottom: 1px solid #eee;">
				<p>L'Espagnol Rafael Nadal s'est facilement qualifié dimanche pour le 3e tour du Masters 1000 d'Indian Wells, en battant l'Américain Jared Donaldson 6-1, 6-1.</p>
				<img src="nadal.jpg" >
			</div>
			</div>
		</div>
		
	
		<div style="display: inline-block;
				float: left;
				width:25%;
				margin-top: 30px;">
			<div style="	background: #eee;
				font-size: 25px;
				width: 90%;
				padding-left: 30px;
				padding-top: 10px;
				padding-bottom: 10px;
				marrgin-bottom: 30px;">Résultat</div>
			<div style="	text-align: center;
				margin: 20px;
				color: #584df3;
				font-size: 18px;">
				DIMANCHE 10 MARS				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Arsenal 2 - 0 Man Utd</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Chelsea 1 - 1 Wolves</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Liverpool 4 - 2 Burnley</span>				
			</div>
			
			<div style="	text-align: center;
				margin: 20px;
				color: #584df3;
				font-size: 18px;">
				DIMANCHE 9 MARS				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Man City 3 - 1 Watford</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Southampton 2 - 1 Tottenham</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Newcastle 3 - 2 Everton</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Leicester 3 - 1 Fulham</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Huddersfield 0 - 2 Bournemouth</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Cardiff 2 - 0 West Ham</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Crystal Palace 1 - 2 Brighton</span>				
			</div>
			
			<div style="	text-align: center;
				margin: 20px;
				color: #584df3;
				font-size: 18px;">
				DIMANCHE 3 MARS				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Everton 0 - 0 Liverpool</span>				
			</div>
			<div style="text-align: center;
				font-size: 18px;
				font-family: monospace;
				border-bottom: 1px solid #eee;
				border-top: 1px solid #eee;
				height: 40px;
				line-height: 2;">
				<span>Fulham 1 - 2 Chelsea</span>				
			</div>
			<div style="">
				<span>Watford 2 - 1 Leicester</span>				
			</div>
		</div>